::-webkit-scrollbar{
    width: 0px;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #fff;
}
.login-card{
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
    border:1px solid transparent;
    box-shadow: 0px 0px 10px 0px #DDDDDD70;
}

.edit-card{
    width: 30%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}
table{
    width: 60%;
    font-size: 12px;
}
.choose_table{
    border:1px solid transparent;
}
.receipt{
    width: 50%;
    margin-bottom: 20px;
}
.receipt > div > input {
    width: 100%;
}
.receipt > div > button {
    width: 100%;
}
.scroll-width{
    overflow: scroll;
}
input{
    margin-bottom: 10px;
}
button{
    border:1px solid transparent;
    background-color: #DDD;
    border-radius: 5px;
}
.login-card > div > button{
    border-radius: 15px;
}
@media only screen and (max-width: 600px) {
    .login-card{
        width: 90%;
        margin-top: 30%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .edit-card{
        width: 90%;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
    table{
        width: 90%;
        font-size: 12px;
    }
    .scroll-width{
        overflow: scroll;
    }
    .receipt{
        width: 100%;
    }
}